# Exclude unnecessary files and folders, but not application files like `index.js` or `src/`
**/.git
**/.vscode
**/node_modules
**/npm-debug.log
**/build
**/dist
# Exclude documentation files
LICENSE
README.md

# Do NOT exclude the src directory and index.js (add "!" to make sure these files are included)
!src/
!index.js
